# Environment
.env
.venv
venv
env/

# Python
__pycache__/
*.pyc

# Azurite files
__azurite*
__blobstorage__

# Python virtual environment
env/
venv/
.env/
.venv/

# VSCode settings

.python_packages